.logo {
    height: 100%;
    animation: App-logo-spin infinite 30s linear;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 8vh;
    background: rgba(255, 255, 255, 0.95);
    padding-right: 10px;
}
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.my-a{
    text-decoration: none;
    color: black;
}
.badge-1{
    height: 60px;
    width: 60px;
    background-color: #ffffff;
    transition: background-color 0.3s ease-in-out;
    border-radius: 20px;
}
.badge-1:hover{
    background-color: #f2f2f2;
    cursor: pointer;
}
.Avatar-git{
    background-color: #464646

}
.Avatar-user{
    background-color: #87d068
}

