.content-home-intro{
    padding-top: 50px;
    padding-bottom: 70px;
    background-color: white;
}
.content-home-second{
    background: linear-gradient(180deg, #fafafa,#ffffff);
    padding: 20px 50px 50px 50px;
}
.content-home-third{
    background: linear-gradient(180deg, #fafafa,#ffffff);
    padding-bottom: 50px;
    padding-top: 50px;
}